/.vscode

.DS_Store
**/.sass-cache
**/node_modules
**/StyleSheets/*
/Build/node_modules/

/Public/

Build/yarn.lock

*.txt
*.log
*.code-workspace

stackfactory.code-workspace
index.min.html
main.css
main.min.css
main.css.map
main.min.css.map